/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require photoswipe
*= require default-skin/default-skin
*= require reset
*= require_self
*/

#titleBox {
    border: solid #333;
    border-width: 10px;
    color: #333;
    padding: 4px;
}

#kentshikama {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 400%;
    font-weight: 100;
    padding: 14px;
}

.titleSmallText {
    border: 4px solid #333;
    background-color: #333;
    color: #f3f3f3;
    margin: 8px;
}

.item {
    width: 400px;
    margin: 28px;
    float: left;
}

.thumbnail {
    border: solid #FFFFFF;
    border-width: 14px;
}

#container {
    margin: 0 auto;
    text-align: center;
}

footer {
    text-align: center;
}

html {
    background-color: #f3f3f3;
}

@media(max-width: 600px) {
    .item {
        margin-left: -14px;
        margin-right: 0px;
        margin-top: 14px;
        margin-bottom: 14px;
    }
}

@media(max-width: 440px) {
    section {
        max-width: 100%;
    }
    .item {
        width: 95%;
        float: left;
    }
    #titleBox {
        max-width: 100%;
    }
    .thumbnail {
        max-width: 100%;
    }
}